<article class="post">
  <header>
    <h1>What is this?</h1>
  </header>
  <section class="content">
    <p>A solutions log is simply a place to keep solutions, references, and random thoughts that I would otherwise forget.</p>
    <p>I learned about this idea from the book <a href="http://pragmaticprogrammer.com/titles/pad/">Practices of an Agile Developer</a>.</p>
    <h1>Credit</h1>
    <p>Until 2010, I used <a href="http://www.evernote.com/">Evernote</a>. It is a useful tool, but the formatting buttons are too clickable.</p>
    <p>I needed a simple note tool that I can dump solutions into. Something quick that is indexable and accessible over the web. <a href="http://solutions.treypiepmeier.com/">Trey Piepmeier's</a> solutions log was the encouragement I needed.</p>
    <p>This blog is powered by <a href="http://cloudhead.io/toto">toto</a>.</p>
    <p><a href="http://www.michaelbrooks.ca/">Learn more about me</a></p>
  </section>
</article>