<section class="search">
  <form>
    <input type="text" placeholder="Filter by Title or Text" />
  </form>
</section>
<section id="articles">
  <% for article in articles %>
    <section class="summary">
      <a href="<%= article.path %>">
        <small><%= article[:tag] %></small>
        <span><%= article.title %></span>
      </a>
    </section>
  <% end %>
</section>