body {
  background-image:url(/images/background.jpg);
  font-family:'Helvetica Neue', Verdana, Helvetica, Arial;
  font-size:16px;
  line-height:24px;
  margin:0 auto;
  padding:15px;
  width:720px;
}
a {
  color: #b83000;
}
header, footer, section, article {
	display:block;
}
h1, h2, h3, h4 {
  margin:0px;
  padding:0px;
}

/** Header **/

body > header {
	margin-bottom:75px;
	margin-top:25px;
	padding:0px;
}
body > header > h1 a {
  color:#FFFFFF;
  font-size:60px;
  line-height:72px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px -2px 1px #444444;  
}
body > header > span {
  clear:both;
  float:right;
  line-height:72px;
}
body > header > span a {
  color:#FFFFFF;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px -2px 1px #444444;  
}

/** Index **/

section.search {
  margin:35px 0px;
}
section.search input {
  background-image:url(/images/magnifying-glass.png);
  background-repeat:no-repeat;
  background-position:10px center;
  border-width:0px;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  box-shadow:inset 0 1px 2px #444444;
  -moz-box-shadow:inset 0 1px 2px #444444;
  -webkit-box-shadow:inset 0 1px 2px #444444;
  color:#888888;
  display:block;
  font-family:'Helvetica Neue', Verdana, Helvetica, Arial;
  font-size:16px;
  outline-style:none;         /* Remove Safari blue glow */
  padding:5px 10px 5px 35px;
  width:675px;                /* 720px - 45px */
}
section.summary {
  background-color:#1D1302;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  box-shadow:0px 1px 2px #BAA985;
  -moz-box-shadow:0px 1px 2px #BAA985;
  -webkit-box-shadow:0px 1px 2px #BAA985;
  margin:10px 0px;
  padding:0px;
}
section.summary:hover {
  background-color:#281906;
}
section.summary a {
  color:#EFEFEF;
  display:block;
  font-size:16px;
  font-weight:normal;
  line-height:18px;
  padding:6px 15px;
  text-decoration:none;
}
section.summary a small {
  display:block;
  float:right;
  overflow:hidden;
  text-align:right;
  width:25%;
  text-overflow:ellipsis;
  white-space:nowrap;
}
section.summary a span {
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;  
}

/** Article **/

article.post {
  background-color:#FFFFFF;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  box-shadow:inset 0 1px 1px #666666;
  -moz-box-shadow:inset 0 1px 1px #666666;
  -webkit-box-shadow:inset 0 1px 1px #666666;
  padding:20px 25px;
}
article.post header {
	border-bottom:1px #EFEFEF solid;
	margin-bottom:15px;
	padding-bottom:15px;
}
article.post header h1 {
  color:#2B1700;
  display:inline;
  font-family:'Gill Sans';
  font-size:26px;
  font-weight:200;
  line-height:30px;
}
article.post header span.date {
  clear:both;
  color:#888888;
  font-family:'Gill Sans';
  font-style:normal;
  font-weight:200;
  float:right;
  line-height:30px;
}
article.post section.content {
  color:#333333;
  margin:0px 10px;
}
article.post section.content h1,
article.post section.content h2,
article.post section.content h3,
article.post section.content h4 {
  color:#2B1700;
  font-family:'Gill Sans';
  font-size:20px;
  font-weight:200;
  line-height:24px;
  margin-top:25px;
  margin-left:-10px;
}
article.post section.content code {
  font-family: 'Deja Vu', 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
  font-size:12px;
}
article.post section.content pre {
  padding:0px 20px;
}
article.post section.content blockquote {
  font-style: italic;
}
article.post section.content ul li {
  list-style:disc;
}
article.post section.content .gist {
  font-size:11px;
  line-height:14px;
  margin:10px 0px;
}
body > footer {
}
