<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <span><a href="/about">(about)</a></span>
      <h1><a href="/">Solutions Log</a></h1>
    </header>
    <section>
      <%= yield %> 
    </section>
    <footer></footer>
  </body>
</html>

